body {
  margin: 0;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.textContent {
  margin-top: 40px;
  text-align: center;
}

.textContent textarea {
  width: 800px;
  height: 300px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background: #888888;
  color: white;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 18px;
}

.info {
  text-align: center;
  font-size: 20px;
}

.info img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}

.info img:nth-child(2) {
  margin-left: 50px;
}

.info .combination {
  font-size: 27px;
}

.keyboard {
  width: 800px;
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 5px;
  background: #888888;
}

.hidden {
  display: none;
}
.row .active {
  border-radius: 20px;
  background: #00ff7f;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  height: 40px;
  width: 44px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  font-weight: 900;
  color: white;
  background: #444444;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.key:hover {
  background-color: #58FAAC;
}

.Tab, .Backspace, .CapsLock, .ShiftLeft, .ShiftRight, .Enter {
  width: 100px;
}

.Space {
  width: 365px;
}